@{
    ViewBag.Title = "Schad Test";
}

<div class="jumbotron">
    <h1>Schad Test</h1>
    <p class="lead">DEPARTAMENTO DE GESTION HUMANA</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cliente</h2>
        <p>
            Opcion para creacion de cliente.
        </p>
        <p><a class="btn btn-default" href="\customers\create">Crear Cliente &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tipo de Cliente</h2>
        <p>
            Opcion para creacion de tipo de cliente.
        </p>
        <p><a class="btn btn-default" href="\customerTypes\create">Crear tipo de cliente &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Factura</h2>
        <p>
            Opcion para creacion de nueva factura.
        </p>
        <p><a class="btn btn-default" href="\invoices\create">Crear factura &raquo;</a></p>
    </div>
</div>